.right-square-true,
.right-square-false{
    border-style:solid;   
    border-width:.05em;
    height: .5em; 
    width: .5em;
}

.right-square-true{
    background-color:black;
    border-color:white;
}

.right-square-false{
    background-color:white;
    border-color:black;
}

.right-0{
  width: 1.5em;
}

.left-square-true,
.left-square-false {
    border-style:solid;
    border-width:0.05em;
    height: .5em; 
    width: 8em;
}

.left-square-true{
    background-color:black;
    border-color:white;
}

.left-square-false{
    background-color:white;
    border-color:black;
}

table {
    width:100%;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 33.5em;
    background-color: #eee;
    border-radius: 6px;
    padding: 1em;
    
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

input[type="checkbox"]{
  margin: 1px 1px 1px 1px;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto; }

