

/* Put your CSS here */
html, body {

}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 29em;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 1em;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

input[type="checkbox"]{
  margin: 1px 1px 1px 1px;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.square-true{
      background-color:black;
      border-color:white;
      border-style:solid;
    border-width:1px;
    opacity:1;
    float:left;
    height: .55em; 
    position:relative;
    width: .55em; 
}


.square-false{
    background-color:white;
    border-color:black;
    border-style:solid;
    border-width:1px;
    opacity:1;
    float:left;
    height: .55em; 
    position:relative;
    width: .55em; 
}

.right-0{
  width: 1.4em;
}

.left-square-true{
    background-color:black;
    border-color:white;
    border-style:solid;
    border-width:1px;
    opacity:1;
    float:left;
    height: .55em; 
    position:relative;
    width: 6.8em;
}

.left-square-false{
    background-color:white;
    border-color:black;
    border-style:solid;
    border-width:1px;
    opacity:1;
    float:left;
    height: .55em; 
    position:relative;
    width: 6.8em;
}